@import url('https://fonts.googleapis.com/css2?family=Geologica:slnt,wght,CRSV,SHRP@-12..0,100..900,0..1,0..100&display=swap');

.bottom-line {
  display: flex;
  justify-content: start;
  align-items: end;
  height: 100px;
  padding: 0;
}

.bottom-line p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p,
li {
  font-family: "Geologica", serif;
  margin-bottom: 0, 5em;
  line-height: 2em;
}


div {
  display: block;
  padding: 10px;
}

h1, h2, p {
  margin: 20px 0;
  display: block;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
  padding: 5px;
  border: 1px solid #f0f0f0;
  box-sizing: border-box;
  display: block;
}

@media (min-width: 768px) {
  img {
    width: 300px;
  }
}

@media (min-width: 1024px) {
  img {
    width: 400px;
  }
}

p {
  font-size: 17px;
}

a {
  text-decoration: none;
  color: red;
  border-bottom: 1px solid;
  font-size: 17px;
}

@media only screen and (min-width: 600px) {
  div {
    width: 70vw;
    margin: 5em 15vw;
  }
}

.text {
  margin: 0;
  line-height: 2em;
}

span {
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  div {
    max-width: 60vw;
    margin: 5em auto;
  }
}

@media only screen and (max-width: 600px) {
  div {
    max-width: 80vw;
    margin: 5em auto;
  }
}

@media print {
  .homelink {
    display: none;
  }
}
