@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=fallback");

h1,
h2,
h3,
p,
li {
  font-family: "IBM Plex Sans", sans-serif;
  margin-bottom: 0,5em;
  line-height: 2em;
}

p {
    font-size: 17px;
}

a {
  text-decoration: none;
  color: red;
  border-bottom: 1px solid;
  font-style: italic;
}

@media only screen and (min-width: 600px) {
  div {
    width: 70vw;
    margin: 5em 15vw;
  }
}

.text {
  margin: 0;
  line-height: 2em;
}

span {
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  div {
    max-width: 60vw;
    margin: 5em auto;
  }
}

@media only screen and (max-width: 600px) {
  div {
    max-width: 80vw;
    margin: 5em auto;
  }
}

.character {
  display: block;
  line-height: 0.5;
  margin-top: 0;
  margin-bottom: 0;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -10px, 0);
  }
}

.bounce {
  animation: bounce 1s infinite alternate;
}

@media print {
  .homelink {
    display: none;
  }
}

